# profiles/aetheros/grub/grub.cfg
# GRUB bootloader config for aetherOS UEFI
# Phase 2: Core Desktop & Boot

set timeout=1
set default=0

# Menu entry for aetherOS Live
menuentry "aetherOS Live" {
    set gfxpayload=keep
    search --no-floppy --set=root --label AETHEROS_01
    linux /boot/vmlinuz-linux-lts img_loop=/aetheros/airootfs.sfs earlymodules=loop quiet splash
    initrd /boot/initramfs-linux-lts.img
}
